body {
    width: 75%;
    margin: 10px auto auto auto;
}

.header-title {
    border: 1px solid darkgreen;
    padding: 10px;
    background-color: darkseagreen;
    font-weight: bold;
    font-family: "Lao MN";
    border-bottom: 0px;
}

.more-action {
    background-color: transparent;
    margin-left: 30px;
    border: 0px;
    outline: none;
}

.more-state {
    margin-right: 50px;
    float: right;
    width: 305px;
}

.content {
    border: 1px solid darkgreen;
    padding: 20px 0 10px 10px;
    max-height: 100%;
    display: flex;
    flex-direction: row;
}

.panel-left {
    flex: 50%;
}

.panel-right {
    flex: 50%;
}

.text-form {
    font-weight: bold;
    padding-top: 30px;
}

.text-address {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 80px;
}

input {
    margin-right: 50px;
    width: 300px;
    float: right;
}

textarea {
    margin-right: 50px;
    width: 300px;
    float: right;
    height: 100px;
}

.underline {
    text-decoration: underline;
    font-family: "Al Bayan";
}

.require {
    color: red;
}

.top {
    margin-top: 30px;
}

.checkbox {
    /*font-weight: normal;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex: 50%;*/
}

input[type=checkbox] {
    width: auto;
    margin-right: 5px;
    float: none
}

.footer {
    border: 1px solid darkgreen;
    border-top: 0px;
    height: 50px;
    background-color: darkseagreen;
    display: flex;
    justify-content: center;
}

button {
    height: 30px;
    width: 150px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: green;
    color: #dddddd;
    font-family: "Arial Unicode MS";
    font-weight: bold;
    border: none;
}
