.formatBody {
    background-color: lightcyan;
}

.formatTitle {
    font-family: "Lao MN";
    color: darkred;
}

.formatParagraph:first-letter {
    font-size: 1.5em;
}

.formatParagraph {
    color: darkblue;
    font-style: italic;
    font-weight: lighter;
}

.formatDes {
    color: rebeccapurple;
    font-family: "Khmer MN";
}

.formatText {
    font-family: "Khmer MN";
}

.formatLink {
    color: darkred;
    font-style: italic;
    font-size: 12px;
    text-decoration: none;
}

.formatIcon {
    width: 60px;
    height: 60px;
}

.formatIconChecker {
    border: 0px;
    width: 88px;
    height: 31px;
}

li {
    font-family: Avenir;
}

li > span {
    font-style: italic;
}

p > span {
    color: coral;
    font-weight: bold;
}

li:hover > a {
    text-decoration: underline;
}

ol {
    display: flex;
    flex-direction: column-reverse;
}