body {
    font-family: "Noto Sans Lisu";
    background-color: lightcyan;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 0px 20px;
    border: 1px solid black;
    border-bottom: 0px;
    padding: 10px;
    font-family: Avenir;
    align-items:  center;
}

.detail {
    margin: 0 20px 20px 20px;
    border: 1px solid black;
    padding: 10px;
}

img {
    width: 50px;
    height: 50px;
}

button {
    width: 100px;
    height: 50px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: lemonchiffon;
    font-size: 18px;
    font-family: "Noto Sans Khudawadi";
    color: darkred;
}

.title {
    padding-left: 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Noto Sans Khudawadi";
}

td > img {
    width: 20px;
    height: 20px;
}

.btn_order {
    font-size: 20px;
    width: 160px;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-top: 10px;
}

.total {
    font-size: 25px;
    font-weight: bold;
    text-align: right;
    padding-right: 20%;
}

.input {
    width: 45px;
    text-align: center;
}

.formatIconChecker {
    border: 0px;
    width: 88px;
    height: 31px;
}